<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">

    <title>Title</title>
</head>
<body>


<!-- CONTAINS BASIC ELEMENTS LIKE NAVBAR WHICH IS COMMON FOR ALL  PAGES
CAN DEFINE SUCH COMMON ELEMENTS HERE  AND TEMPLATE EXTEND IT

https://tutorial.djangogirls.org/en/template_extending/

-->









</body>
</html>