<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<!-- CONTAINS THE LIST OF ALL LEAVE REQUESTS PENDING VISIBLE TO THE HOD OF A DEPARTMENT-->


<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
</style>


<body>





<table>
    <tr>
        <th>Employee Name</th>
        <th>Date </th>
        <th>Approve</th>
    </tr>

   {% for req in requests %}
    <tr>
        <th>{{req.emp.name}}</th>
        <th>{{req.date }}</th>
        <th><a href="{% url 'attendance:approve_leave_request' pk=req.pk %}">Approve</a> </th>

    </tr>

    {% endfor %}


</table>





</body>
</html>