<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>



<!-- THE HTML FOR UPDATE AND DELETE    . BEHAVES ACCORDING TO THE CONTEXT OF THE CALL
-->




{% for staff in staffs %}
  <h1>{{staff.staff_id }}</h1>
{% if delflag %}
<a href="{% url 'attendance:delete' id=staff.staff_id %}"><img src="{% static 'delete' %}  " alt="delete"/></a>
{% endif %}

{% if updateflag %}
   <a href="{% url 'attendance:update' pk=staff.staff_id %}"><img src="{% static 'delete' %}  " alt="update"/></a>

{% endif %}

{% endfor %}

</body>
</html>


