<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

{% load static %}

{% for staff in staffs %}
  <h1>{{staff.staff_id }}</h1>
{% if delflag %}
<a href="{% url 'attendance:delete' id=staff.staff_id %}"><img src="{% static 'static/delete.png' %}  " alt="delete"/></a>
{% endif %}

{% if updateflag %}
   <a href="{% url 'attendance:update' pk=staff.staff_id %}"><img src="{% static 'static/delete.png' %}  " alt="update"/></a>

{% endif %}

{% endfor %}

</body>
</html>


