*{
    margin:0;
    padding:0;
}
.header{
    width:100%;
    height:50px;
    background-color: yellowgreen;
    position: fixed;

}
.header h1{
    font-family: monospace;
    color: grey;
    padding-top:8px;
    margin-left: 20px;

   }


.sidebar{
    float:left;
    margin-top:50px;
    width:300px;
    height:100%;
    position: fixed;
    background-color: grey;
}

.sidebar a{
    display: block;
    text-decoration: none;
    font-family: monospace;
    color:white;

    height:50px;
    padding-top: 20px;
    font-size: 20px;
    text-align: center;
}
.sidebar a:hover{
    background-color: darkgrey;

}
h2{

     padding:30px;
    text-align: center;
    font-family: monospace;
    color: dimgray;
}
.main{
    height:500px;
    padding-top:60px;
    padding-left: 350px;
    width:800px;
}
#content{
    margin: 50px 50px 50px 0px;
    background-color:lightgrey;
    width:800px;
    height:500px;
    font-family: monospace;
}
#content h2{
    text-align: center;
    color:dimgrey;
    font-family:monospace;
    font-size: 38px;
    padding-top: 20px;

}
#summary{
    margin-top: 30px;
    text-align: center;
    width:inherit;
    height:60px;


}
#summary h1{
    font-family: monospace;
    font-size:50px;
    color:dimgrey;
}

#content a{
    text-align: center;
    text-decoration: none;
    color:dimgray;
    display: block;
    background-color:yellowgreen;
    color:dimgray;
    align-content: center;
    padding-bottom: 0px;
    margin: 130px 340px 0px;
}
.sidebar_right{
    float: right;
}

.footer{
    width:100%;
    height:50px;
    background-color: yellowgreen;
    position: fixed;
    bottom: 0;
}




